.header{
    text-align: center;
    padding:50;
    background: linear-gradient(#eda405db, #875e03db);
    color:white
}   
.menu{
    background-color:white;
    position: sticky;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}
.menu a{
    color: #eda405db;
    scroll-behavior: smooth;
}
.menu a:hover {
  background-color: #eda405db;
  color: white;
}
.hero{
    border-radius: 100px 40px;
    text-align: center;
}
.hero a{
    background-color: #eda405db ;
    color:white;
}
.hero a:hover{
    background-color:white ;
    color: #eda405db;   
}
.cards {
  max-width: 700px;
  margin: 1em auto;

  display: grid;
  grid-template-columns: repeat;
  grid-gap: 20px;
}
.gia{
    color:#eda405db
}